.container {
  max-width: 1000px;
}

.genreButtonContainer {
  margin: 0 -5px;
}

.genreButton {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #2F3BD8;
  padding: 10px;
  margin: 5px;
  cursor: pointer;

  &.selected,
  &.selected:disabled,
  &.selected:disabled:hover {
    background-color: #7880E6;
    color: white;

    &.answer {
      background-color: green;
    }
  }

  &:hover,
  &.selected:hover {
    background-color: #2F3BD8;
    color: white;
  }

  &:disabled,
  &:disabled:hover {
    color: white;
    background-color: #a9a9a9;
    cursor: not-allowed;

    &.answer {
      background-color: lightgreen;
    }
  }
}
