.container {
  max-width: 1000px;
}

.genreButton {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;

  &.selected,
  &.selected:disabled,
  &.selected:disabled:hover {
    background-color: gray;
    color: white;

    &.answer {
      background-color: green;
    }
  }

  &:hover,
  &.selected:hover {
    background-color: black;
    color: white;
  }

  &:disabled,
  &:disabled:hover {
    color: gray;
    background-color: white;
    cursor: not-allowed;

    &.answer {
      background-color: lightgreen;
    }
  }
}
