.container {
  max-width: 1000px;
}

.genreButton {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
}

.genreButton:hover,
.genreButton.selected:hover {
  background-color: black;
  color: white;
}

.genreButton.selected {
  background-color: gray;
  color: white;
}
